body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 97);

}
#header{
    display: flex;
    justify-content: space-between;
}
#mainnav li{
    display: inline;
    padding: 6px;
    border-right: 2px solid rgb(0, 0, 97);
    text-decoration: none;
}
#mainnav{
    background-color: rgb(204, 204, 255);
    padding: 12px;
}
#mainnav li a:hover{
    text-decoration: none;
    color: rgb(0, 0, 97);
}
#container{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid rgb(0, 0, 97);
    
}
#container li a{
    text-decoration: none;
}
#container li{
    border: 2px solid rgb(5, 5, 5);
    width: 250px;
    
}
#container #sidebar{
    border-right: 2px solid rgb(204, 204, 255);
    padding-right: 40px;
    
}
#content{
    padding-left: 30px;
}
#footer{
    float: right;
    font-style: italic;
}

@media screen and (max-width:1495px){
    body{
        background-color: blue;
    }
    h2{
        background-color: yellow;
    }

}
