*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container input{
    font-size: 30px;
}
.container .cal{
    width: 100px;
    height: 40px;
    background: linear-gradient(150deg,red,blue);
    border-radius: 30px;
    
}